xsd/nfvInfo.xsd.old

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/nfvInfo" xmlns:tns="http://www.example.org/nfvInfo" elementFormDefault="qualified">
	<element name="networkProvider">
		<!-- Network Provider Type definition -->
		<complexType>
			<sequence>
				<!-- NF-FG Element -->
				<element name="Nffg" type="tns:nffgType" minOccurs="0" maxOccurs="unbounded">
					<!-- Uniqueness Keys -->
					<key name="nodeNameKey">
						<selector xpath="tns:Node" />
						<field xpath="@name" />
					</key>
					<key name="linkNameKey">
						<selector xpath="tns:Node/tns:Link" />
						<field xpath="@name" />
					</key>
					<!-- Reference Keys -->
					<keyref name="sourceNodeKeyref" refer="tns:nodeNameKey">
						<selector xpath="tns:Node/tns:Link" />
						<field xpath="@sourceNode" />
					</keyref>
					<keyref name="destinationNodeKeyref" refer="tns:nodeNameKey">
						<selector xpath="tns:Node/tns:Link" />
						<field xpath="@destinationNode" />
					</keyref>
				</element>
				<!-- Provider's Catalog Element -->
				<element name="ProvidersCatalog" type="tns:providersCatalogType" minOccurs="1" maxOccurs="1">
					<!-- Uniqueness Keys -->
					<key name="functionalTypeIdKey">
						<selector xpath="tns:FunctionalType" />
						<field xpath="@id" />
					</key>
				</element>
				<!-- IN Element -->
				<element name="InfrastructureNetwork" type="tns:infrastructureNetworkType">
					<!-- Uniqueness Keys -->
					<key name="infrastructureHostNameKey">
						<selector xpath="tns:InfrastructureHost" />
						<field xpath="@name" />
					</key>
					<!-- Reference Keys -->
					<keyref name="sourceHostKeyref" refer="tns:infrastructureHostNameKey">
						<selector xpath="tns:PhysicalChannel" />
						<field xpath="@sourceHost" />
					</keyref>
					<keyref name="destinationHostKeyref" refer="tns:infrastructureHostNameKey">
						<selector xpath="tns:PhysicalChannel" />
						<field xpath="@destinationHost" />
					</keyref>
				</element>
			</sequence>			
		</complexType>
		<!-- Uniqueness Keys -->
		<key name="nffgNameKey">
			<selector xpath="tns:Nffg" />
			<field xpath="@name" />
		</key>
		<!-- Reference Keys -->
		<keyref name="functionalTypeIdKeyref" refer="tns:functionalTypeIdKey">
			<selector xpath="tns:Nffg/tns:Node" />
			<field xpath="@functionalTypeid" />
		</keyref>
		<keyref name="infrastructureHostNameKeyref" refer="tns:infrastructureHostNameKey">
			<selector xpath="tns:Nffg/tns:Node" />
			<field xpath="@infrastructureHostName" />
		</keyref>		
	</element>
	<!-- NF-FG Type definition -->
	<complexType name="nffgType">
		<sequence>
			<element name="Node" type="tns:nodeType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="tns:pattern" use="required" />
		<attribute name="deployTime" type="dateTime" use="required" />
	</complexType>
	<!-- Network Node Type definition -->
	<complexType name="nodeType">
		<sequence>
			<element name="Link" type="tns:linkType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="name" type="tns:pattern" use="required" />
		<attribute name="functionalTypeid" type="tns:pattern" use="required" />
		<attribute name="infrastructureHostName" type="tns:pattern" use="required" />
	</complexType>
	<!-- Network Link Type definition -->
	<complexType name="linkType">
		<attribute name="name" type="tns:pattern" use="required" />
		<attribute name="minThroughput" type="float" use="optional" />
		<attribute name="maxLatency" type="int" use="optional" />
		<attribute name="sourceNode" type="tns:pattern" use="required" />
		<attribute name="destinationNode" type="tns:pattern" use="required" />		
	</complexType>
	<!-- Provider's Catalog Type definition -->
	<complexType name="providersCatalogType">
		<sequence>
			<element name="FunctionalType" type="tns:fType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!-- Functional-Type Type definition -->
	<complexType name="fType">
		<attribute name="id" type="tns:pattern" use="required" />
		<attribute name="name" type="tns:fTypeNameEnum" use="required" />
		<attribute name="amountOfMemory" type="int" use="required" />
		<attribute name="diskStorage" type="int" use="required" />
	</complexType>
	<!-- Functional-Type Name Type definition -->
	<simpleType name="fTypeNameEnum">
		<restriction base="string">
			<enumeration value="CACHE" />
			<enumeration value="DPI" />
			<enumeration value="FW" />
			<enumeration value="MAIL_CLIENT" />
			<enumeration value="MAIL_SERVER" />
			<enumeration value="NAT" />
			<enumeration value="SPAM" />
			<enumeration value="VPN" />
			<enumeration value="WEB_CLIENT" />
			<enumeration value="WEB_SERVER" />	
		</restriction>
	</simpleType>
	<!-- Infrastructure Network Type definition -->
	<complexType name="infrastructureNetworkType">
		<sequence>
			<element name="InfrastructureHost" type="tns:infrastructureHostType" minOccurs="1" maxOccurs="unbounded" />
			<element name="PhysicalChannel" type="tns:physicalChannelType" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<!-- Infrastructure Host Type definition -->
	<complexType name="infrastructureHostType">
		<attribute name="name" type="tns:pattern" use="required" />
		<attribute name="maxVfns" type="int" use="required" />
		<attribute name="amountOfMemory" type="int" use="required" />
		<attribute name="diskStorage" type="int" use="required" />		
	</complexType>
	<!-- Physical Channel Type definition -->
	<complexType name="physicalChannelType">
		<attribute name="averageThroughput" type="float" use="required" />
		<attribute name="latency" type="int" use="required" />
		<attribute name="sourceHost" type="tns:pattern" use="required" />
		<attribute name="destinationHost" type="tns:pattern" use="required"/>		
	</complexType>
	<!-- Name Pattern -->
	<simpleType name="pattern">
        <restriction base="string">
            <pattern value="([A-Z]|[a-z])(\w)+"/>
        </restriction>
    </simpleType>	
</schema>